.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navWidth{
    min-width: 290px;
}

.navMarginLeft{
    margin-left: -290px;
}

.hide{
    display: none;
}

.show{
    display: flex;
}

.login{
    width: 400px;
}

.modal{
    width: 500px;
    height: 220px;
}

.loader{
    animation: spin 0.7s linear infinite;
}

.image{
    width: 250px;
    height: 250px;
}

@media only screen and (max-width: 1024px) {
    .navWidth{
        min-width: 200px;
    }

    .navMarginLeft{
        margin-left: -200px;
    }

    .nav{
        display: block;
    }

    .hide{
        display: flex;
    }

    .show{
        display: none;
    }

    .login{
        width: 100%;
        height: 100%;
    }

    .image{
        width: 200px;
        height: 200px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}